node*
vendor*
vendor
.gitignore
.vscode
.DS_Store
vendor/*
composer.lock
bluem-php
bluem-php/*
composer.lock
bluem.zip
.phpunit.result.cache
.phpunit.cache*
.php-cs-fixer.cache
.idea
/copyscript.sh
_notes
docker
._*
/tests/Support/_generated/AcceptanceTesterActions.php
/tests/Support/_generated/FunctionalTesterActions.php
/tests/Support/_generated/UnitTesterActions.php
/.php-cs-fixer.cache
/tests/_output/Tests.Acceptance.FirstCest.frontpageWorks.fail.html
/tests/_output/Tests.Acceptance.FirstCest.loginWithInvalidCredentials.fail.html
/tests/_output/Tests.Acceptance.FirstCest.logout.fail.html
build
tools
tools/*
.env
svn-directory
svn-directory/*
node_modules
node_modules/*
blocks/dist
blocks/dist/*
